img{
    width: auto;
    height: 200px;
}
.header{
    background-color: #1f2937;
    font-size: 18px;
    color: #f9faf8;
    
}
.leftlogo{
    font-size: 24px;
    color: #f9faf8;
}
.topsection{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 18px;
       
}
.rightlinks{
    display: flex;
    justify-content: space-between;
    
}
.bottomsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px;
}
.leftside{
    width: 400px;
}
.maintitle{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }
  .body{
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      border: 0;
      
  }